* {
    box-sizing: border-box;
}
body {
    background-image: url(imagini/fundal2.jpg);
    width: 100%;
    margin-top: 85px;
}
nav {
    background-color: black;
}
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}
nav img {
    width: 60px;
}
.cuv-1 {
    padding: 5px;
    margin: 3px;
}
.cuv-2 {
    padding: 5px;
    border-radius: 3px;
    color: black;
    background-color: rgb(165, 10, 10);
    font-weight: bold;
    margin-left: 3px;
}
.nav-item {
    margin: 0px 5px;
}
.activ {
    background-color: rgba(255, 255, 255, 0.719);
    border-radius: 3px;
    font-weight: bold;
}
.ruleta {

}
.container-fluid {
    padding: 0px;
}
.fundal {
    position: relative;
}
.fundal img {
    width: 100%;
    height: auto;
}
h1 {
    text-align: right;
    position: absolute;
    bottom: 40px;
    right: 70px;
    color:rgba(255, 255, 255);
    font-size: 72px;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}
h2 {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-size: 42px;
    background-color: black;
    padding: 20px;
    color:rgba(255, 255, 255);
    margin: 0;
    text-align: center;
}
h3 {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    color:rgb(207, 207, 207);
    font-size: 38px;
    text-align: center;
    margin-top: 20px;
}
p {
    color: rgba(255, 255, 255, 0.719);
    text-align: justify;
    margin: 30px;
    font-size: 22px;
}
.buzunar {
    display: flex;
    justify-content: center;
    margin-top: 0;
}
.buzunar img {
    width: 95%;
    padding-top: 40px;
    margin: 10px;
}
.carousel-item img {
    width: 98%;

}
footer {
    background-color: Black;
    height: 150px;
    bottom: 0;
    width: 100%;
}
.copyright {
    display: block;
    color:rgba(255, 255, 255);
    font-size: 16px;
    text-align: center;
    margin: 0;
}
.copyright p {
    text-align: center;
    padding: 15px;
    margin: 0;
}    
.contact {  
    display: block;
    text-align:center;
}
.contact img {
    width: 40px;
    margin: 6px 20px;
}    
.contact img:hover {
    width: 52px;
    margin: 0px 14px;
}
.formular {
    margin-top: 30px;
}
.textulet {
    font-size: 20px;
}
.text {
    font-size: 20px;
    margin: 30px 10px;
}